XTerm*vt100*background: black
XTerm*vt100*foreground: green
!XTerm*vt100*font: *-fixed-*-*-*-18-*
XTerm*vt100*faceName: MonospaceRegular
XTerm*vt100*faceSize: 12
XTerm*vt100*maximized: true
XTerm*vt100*selectToClipboard: true
XTerm*vt100*cursorColor: magenta
*VT100*translations: #override \n\
		     Ctrl Shift <Key>V: insert-selection(SELECT) \n\
		     Ctrl Shift <Key>C: copy-selection(SELECT)
